$primary: rgba(0, 0, 0, 0.54);
$secondary: rgba(0, 0, 0, 0.04);
$text: white;
$textDark: #121212;
$boxShadow: rgba(253, 253, 253, 0.265) 0px 0px 6px 2px,
  rgba(255, 255, 255, 0.263) 0px 0px 6px 2px;
$bluePrimary: #1565c0;
