@import '../scss-variables/variables.module.scss';

.menu {
  // border: solid;
  // border-color: white;
  border-radius: 10px;
  border-width: 1px;
  position: fixed;
  right: 32px;
  top: 90px;
  width: 300px;
  //   height: 87%;
  bottom: 10px;
}
