@import '../scss-variables/variables.module.scss';

td {
  padding: 10px;
}

.row:hover {
  background-color: $bluePrimary;
  border-color: $bluePrimary;
}

.rowExpanded {
  padding: 0;
  height: 10vw;
}


