@import '../scss-variables/variables.module.scss';

.barGraphWrapper {
  border-color: rgb(55, 55, 55);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  box-shadow: $boxShadow;
}
