@import '../scss-variables/variables.module.scss';

.gaugeChartDark {
  padding: 0px;
  width: 40%;
  height: 400px;
  display: flex;
  justify-content: center;
  border-color: rgb(55, 55, 55);
  border-width: 2px;
  border-radius: 10px;
  box-shadow: $boxShadow;
}

.gaugeChart {
  padding: 0px;
  width: 40%;
  height: 400px;
  display: flex;
  justify-content: center;
  border-color: rgb(55, 55, 55);
  border-width: 2px;
  border-radius: 10px;
  
}
